/* hide the Sharetribe "request" button (we're showing "select date and time" button instead) */
button.enabled-book-button:nth-child(5), button.disabled-book-button:nth-child(5) {
  display: none;
}

div.quantity-wrapper {
  display: none;
}

/* hide prices */
.fluid-thumbnail-grid-image-price-container,
.listing-price-amount,
.listing-price-quantity {
  display: none;
}
